////////////////////
//                //
// SETTING COLORS //
//                //
////////////////////

html,
body {
  background-color: $darkest-polar;
  color: $snow-storm-light-grey;
}

a {
  color: $frost-green;
}

a:visited {
  color: $frost-grey-blue;
}

a:active,
a:focus,
.main-header a:active,
.main-header a:focus {
  color: $frost-lighter-green;
}

a:hover,
.main-header a:hover,
.main-footer a:hover {
  color: $aurora-purple;
}

.main-header,
.main-header a,
.main-footer,
.main-footer a,
nav {
  color: $snow-storm-lightest-grey;
}

code,
pre {
  background-color: $darker-polar;
}

mark {
  background-color: $aurora-yellow;
  color: $the-darkiest-polar;
}
