///////////////////
//               //
//     FONTS     //
//               //
///////////////////

html,
body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
}

code,
figure figcaption,
.footnotes,
.footnote-ref,
.list-footer,
.main-footer,
nav,
.post-info,
.posts-list footer {
  font-size: $font-size-small;
}

blockquote {
  font-style: italic;
}

.smallcaps {
  font-variant: small-caps;
}

.home-lists {
  dt {
    font-weight: bold;
  }
}

#licence {
  font-variant: small-caps;
}
