///////////////////
//               //
//    FOOTER     //
//               //
///////////////////

.main-footer {
  margin-top: 1.25rem;
  padding-bottom: 1.25rem;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }

  @include inline-list;

}
