///////////////////
//               //
//    HEADER     //
//               //
///////////////////

.main-header {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;

  .avatar {
    height: 3rem;
    margin: auto 0;
    border-radius: 35%;
  }

  h1 {
    margin: 0;
  }

  article {
    flex-grow: 1;
  }

  .title {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: .5rem;
  }

  nav {

    ul {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }

    @include inline-list;

  }
}
