//////////////////
//              //
//    LAYOUT    //
//              //
//////////////////

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: $content-max-width;
  margin: 0 0 0 $content-left-margin;
}

main {
  flex-grow: 1;
  margin: 0 0 2.5rem 0;
}
