///////////////////
//               //
//     LISTS     //
//               //
///////////////////

.posts-list {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;

  > article {
    padding-bottom: .5rem;
  }
}

