///////////////////
//               //
//      MAIN     //
//               //
///////////////////

.home-lists {

  @include breakpoint(laptop) {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    width: 100%;      // set the container width

    dt {
      flex: 0 0 39%;
      word-wrap: anywhere;
    }

    dd {
      flex: 0 0 59%;
      margin-left: auto;
      text-align: left;
    }
  }

  dd {
    margin-left: .5rem;
  }

  dt::after {
    content: ' :';
  }

}

.contents {
  padding: 0;
}

.home-lists {
  margin: 0;
}
