///////////////////
//               //
//      POST     //
//               //
///////////////////

.post-header {
  h1 {
    margin: 0;
  }
}

.post-info {

  > ul {
    margin-top: 0;
    padding: 0;

    > li {
      padding-right: .3rem;
    }
  }

  li {
    display: flex;
    list-style: none;

    > ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      white-space: pre;
    }

    > ul::before {
      content: ' ';
      white-space: pre;
    }
  }
}

@include breakpoint(tablet) {
  .post-info > ul {
    display: flex;
    flex-wrap: wrap;

    > li:not(:last-child) {
      &::after {
        content: ' /';
        white-space: pre;
      }
    }
  }
}

.post-taxonomies:not(:last-child) {
  &::after {
    content: ', ';
  }
}

.list-footer {
  padding-left: .5em;
}
