////////////////////
//                //
//     Texts      //
//                //
////////////////////

.verse {
  line-height: $line-height-verse;
  @include breakpoint(laptop) {
    margin-left: 3rem;
  }

  p:not(:last-child) {
    margin-bottom: $verse-p-bottom-space;
    @include breakpoint(laptop) {
      margin-bottom: $verse-p-bottom-space-larger;
    }
  }

  br {
    margin-bottom: .5rem;
  }
}

.main-header,
.main-footer {
  a {
    text-decoration: none;
  }
}

.citation {
  border: none;
  margin-left: 0;

  blockquote {
    margin: 0;
    margin-left: .5rem;
    @include breakpoint(laptop) {
      margin-left: 1rem;
    }
    border-left: solid $lighter-polar .5rem;
    padding-left: .5rem;

    @include breakpoint(laptop) {
      padding-left: 1rem;
    }

    p {
      text-align: left;
      margin: .4rem 0;
    }

    em {
        font-style: normal;
    }

    figcaption {
      text-align: right;
      margin-top: 1rem;
    }
  }
}
