////////////////////
//                //
//    Includes    //
//                //
////////////////////

@import 'variables';
@import 'grid';
@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'layout';
@import 'lists';
@import 'main_body';
@import 'medias';
@import 'post';
@import 'texts';


////////////////////
//                //
//     Divers     //
//                //
////////////////////

code,
pre {
  border-radius: 5px;
  padding: .2rem;
}

pre {
  max-width: 95vw;
  overflow: auto;
}

.terms {
  display: flex;
  flex-wrap: wrap;
}

.term {
  margin-right: 1rem;
}
