<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}
<body>
  {{- partial "header.html" . -}}
  <main aria-role="main" class="container"
        itemscope itemtype="https://schema.org/Person">
  {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
</body>
</html>
