{{ define "main" }}
<header>
    <h2>{{.Title}}</h2>
</header>
<!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
<article>
    <header>
        {{.Content }}
    </header>
    <article class="posts-list">
        {{ range .Pages.ByPublishDate.Reverse }}
            <article>
                <a href="{{ .Permalink }}">
                    {{.Title}}
                </a>
                {{ partial "lists-footer.html" . }}
            </article>
            {{ end }}
    </article>
</article>
{{ end }}
