{{ define "main" }}
  <header>
    <h2>{{.Title}}</h2>
  </header>
  <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}
  <article class="terms">
    {{ range .Data.Terms.Alphabetical }}
    <article class="term">
      <p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</p>
    </article>
    {{ end }}
  </article>
{{ end }}

