{{ $currentPage := . -}}
{{ $siteSources := .Site.Params.siteSources }}
<footer class="main-footer no-print">
  <nav role="navigation" aria-label="Secondary">
    <ul>
      {{ range sort .Site.Menus.footer -}}
      <li class="nav-item">
        <a class="nav-item-link{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}"
           id="{{ .Identifier }}"
           href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end -}}
      {{ with .GitInfo }}
      {{ $git := . }}
      <li>
        <code>
          <a href="
          {{- if eq $siteSources.type "gitlab" -}}
            {{ $siteSources.url }}/-/
          {{- else -}}
            {{ $siteSources.url }}/
          {{- end -}}
            commit/{{- $git.Hash -}}"
             title="{{ i18n "lastCommit" }}">
            {{ $git.AbbreviatedHash }}
          </a>
        </code>
      </li>
      {{ end }}
    </ul>
</footer>
