<header class="main-header">
  <a href="{{ .Site.BaseURL }}" class="title no-reformat">
    <img class="avatar no-print" src="{{ .Site.BaseURL  }}images/avatar.png">
    <h1>{{ .Site.Title }}</h1>
  </a>
  <nav class="no-print" role="navigation" aria-label="Primary">
    <ul>
      {{ $currentPage := . -}}
      {{ range sort .Site.Menus.main -}}
      <li class="nav-item">
        <a class="nav-item-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
           href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end -}}
      <li class="nav-item">
        {{ if .IsPage -}}
        <a class="nav-item-link"
           href="{{ .Site.BaseURL }}index.xml"
           title="S'abonner aux publications du site">S'abonner
        </a>
        {{ else if .IsHome -}}
        <a class="nav-item-link"
           href="{{ .Site.BaseURL }}index.xml"
           title="S'abonner aux publications du site">S'abonner
        </a>
        {{ else if .IsNode -}}
        <a class="nav-item-link"
           href="{{ .Permalink }}index.xml"
           title="S'abonner aux publications de cette section">S'abonner
        </a>
        {{ end -}}
      </li>
    </ul>
  </nav>
</header>
