<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title  }} - {{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink  }}">
  {{- if .Site.IsServer -}}
  {{- $options := (dict "targetPath" "styles.css" "enableSourceMap" true) -}}
  {{- $styles := resources.Get "scss/main.scss" | toCSS $options }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{- else -}}
  {{- $options := (dict "targetPath" "styles.css") -}}
  {{- $styles := resources.Get "scss/main.scss" | toCSS $options | minify -}}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{- end }}
  {{ $options := (dict "targetPath" "print.css" ) -}}
  {{- $print := resources.Get "css/gutenberg.css" | toCSS $options | minify -}}
  <link rel="stylesheet" href="{{ $print.Permalink }}" media="print">
  {{ range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ partial "metadata.html" . -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
