<footer class="list-footer">
{{ .PublishDate.Format "2006-01-02" }}
{{ with .Params.categories }}
  {{ range sort . }}
    / <a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
{{ end }}
</footer>

