<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Personal portfolio{{ end }}">
  <meta property="og:title" content="{{ .Title  }} - {{ .Site.Title }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Personal portfolio{{ end }}">
  {{ if .Params.postimage -}}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.postimage }}">
  {{- else if .Site.Params.Image -}}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.Image }}">
  {{- else -}}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/site.jpg">
  {{ end }}
  {{ if .Params.postimagedescription -}}
  <meta property="og:image:alt" content="{{ .Params.postimagedescription }}">
  {{- else if .Site.Params.ImageDescription -}}
  <meta property="og:image:alt" content="{{ .Site.Params.ImageDescription }}">
  {{- else -}}
  <meta property="og:image:alt" content="Grayish sheep portrait">
  {{ end }}
  <meta property="og:locale" content="{{ .Language.Lang }}">
  {{- if .IsNode }}
  <meta property="og:type" content="website">
  {{- else }}
  <meta property="og:type" content="blogPost">
  {{ end -}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:url" content="{{ .Permalink }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
  <meta name="DC.creator" content="{{ .Site.Author.name }}">
  <meta name="DC.language" content="{{ .Language.Lang }}">
  {{- if .IsNode }}
    <meta name="DC.title" content="{{ .Site.Title }}">
  {{ end }}
  {{- if .IsPage }}
  <meta name="DC.type" content="blogPost">
  <meta name="DC.title" content="{{ .Page.Title }}">
  <meta name="DC.created" content="{{ dateFormat "2006-01-02" (default .Date (.PublishDate)) }}">
  <meta name="DC.date" content="{{ dateFormat "2006-01-02" (default .Date (.PublishDate)) }}">
  {{- if (and (isset .Params "lastmod") (gt (dateFormat "2016-01-02" (.Lastmod)) (dateFormat "2006-01-02" (.PublishDate)))) }}
  <meta name="DC.modified" content="{{ .Lastmod }}">
  {{ end -}}
  <meta name="og:article:published_time" content="{{ dateFormat "2006-01-02" (default .Date (.PublishDate)) }}">
  {{- if (and (isset .Params "lastmod") (gt (dateFormat "2016-01-02" (.Lastmod)) (dateFormat "2006-01-02" (.PublishDate)))) }}
  <meta name="og.article:modified_time" content="{{ .Lastmod }}">
  {{ end -}}
  {{- with .Params.categories }}
  {{- range . -}}
  <meta name="DC.subject" content="{{ . }}">
  {{- end -}}
  {{ end -}}
  {{- with .Params.tags }}
  {{- range . -}}
  <meta name="DC.subject" content="{{ . }}">
  {{ end -}}
  {{ end -}}
  {{ end -}}
