<h2 id="online">Online</h2>
<dl class="home-lists">
  {{ with .Site.Params.online.git }}
    <dt>Git</dt>
    <dd><a href="{{ . }}" rel="me">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.github }}
    <dt>GitHub</dt>
    <dd><a href="https://github.com/{{ . }}" rel="me">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.framagit }}
    <dt>Framagit</dt>
    <dd><a href="https://framagit.org/{{ . }}" rel="me">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.mastodon }}
    <dt>mastodon</dt>
    <dd><a href="{{ . }}" rel="me">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.twitter }}
    <dt>Twitter</dt>
    <dd><a href="https://twitter.com/{{ . }}">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.keybase }}
    <dt>Keybase</dt>
    <dd><a href="https://keybase.io/{{ . }}">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.wikipedia }}
    <dt>Wikipedia</dt>
    <dd><a href="https://fr.wikipedia.org/wiki/Utilisateur:{{ . }}">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.openstreetmap }}
    <dt>OpenStreetMap</dt>
    <dd><a href="https://openstreetmap.org/user/{{ . }}">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.online.discogs }}
    <dt>Discogs</dt>
    <dd><a href="https://www.discogs.com/user/{{ . }}">{{ . }}</a></dd>
  {{ end }}
</dl>
