<h2 id="contactsPriv">{{ i18n "contactsPriv" }}</h2>
<dl class="home-lists">
  {{ with .Site.Params.contactsPriv.email }}
    <dt>e-mail</dt>
    <dd><a href="mailto:{{ . }}" itemprop="email">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.contactsPriv.address }}
    <dt>Adresse</dt>
    <dd><span itemprop="address">{{ . }}</span></dd>
  {{ end }}
  {{ with .Site.Params.contactsPriv.phone }}
    <dt>Tél.</dt>
    <dd><a href="tel:{{ replace . " " ""}}"><span itemprop="telephone">{{ . }}</span></a></dd>
  {{end}}
  {{ with .Site.Params.contactsPriv.mobile }}
    <dt>Tél. mobile</dt>
    <dd><a href="tel:{{ replace . " " ""}}"><span itemprop="telephone">{{ . }}</span></a></dd>
  {{end}}
  {{ with .Site.Params.contactsPriv.publickey }}
    <dt>Clé publique</dt>
    <dd><a href="/{{ . }}">{{ . }}</a></dd>
  {{ end }}
  {{ with .Site.Params.contactsPriv.fingerprint }}
    <dt>Empreinte</dt>
    <dd><code>{{ . }}</code></dd>
  {{ end }}
  {{ with .Site.Params.contactsPriv.xmpp }}
    <dt>XMPP/jabber</dt>
    <dd>{{ . }}</dd>
  {{ end }}
  {{ with .Site.Params.contactsPriv.cv}}
    <dt>CV</dt>
    <dd><a href="/{{ . }}">{{ . }}</a></dd>
  {{end}}
</dl>
