<details class="post-info no-print">
  <summary>{{ i18n "post-infos" }}</summary>
    <ul>
      <li>Publié le&#x202F;: {{ dateFormat "2006-01-02" (default .Date (.PublishDate)) }}</li>
      {{ if (and (isset .Params "lastmod") (gt (dateFormat "2006-01-02" (.Lastmod)) (dateFormat "2006-01-02" (.PublishDate)))) }}
      <li>Dernière mise à jour&#x202F;: {{ .Lastmod.Format "2006-01-02" }}</li>
      {{ end }}
      {{ with .Params.categories }}
      <li>Catégories&#x202F;:
        <ul>
          {{ range sort . }}
          <li class="post-taxonomies"><a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
      {{ with .Params.tags }}
      <li>Tags&#x202F;:
        <ul>
          {{ range sort . }}
          <li class="post-taxonomies"> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
      <li><a href="{{ .Permalink }}">{{ i18n "permalink" }}</a></li>
    </ul>
</details>
