<h2 id="contactsPro">{{ i18n "contactsPro" }}</h2>
<dl class="home-lists">
  {{ with .Site.Params.contactsPro.email }}
    <dt>e-mail</dt>
    <dd><a href="mailto:{{ . }}" itemprop="email">{{ . }}</a></dt>
  {{end}}
  {{ with .Site.Params.contactsPro.address }}
    <dt>Adresse</dt>
    <dd><span itemprop="address">{{ . }}</span></dd>
  {{end}}
  {{ with .Site.Params.contactsPro.mobile}}
    <dt>Mobile</dt>
    <dd><a href="tel:{{ replace . " " ""}}"><span itemprop="telephone">{{ . }}</span></a></dd>
  {{end}}
  {{ with .Site.Params.contactsPro.phone}}
    <dt>Tél.</dt>
    <dd><a href="tel:{{ replace . " " ""}}"><span itemprop="telephone">{{ . }}</span></a></dd>
  {{end}}
  {{ with .Site.Params.contactsPro.publickey }}
    <dt>Clé publique</dt>
    <dd><a href="/{{ . }}">{{ . }}</a></dd>
  {{end}}
  {{ with .Site.Params.contactsPro.fingerprint}}
    <dt>Empreinte</dt>
    <dd><code>{{ . }}</code></dd>
  {{end}}
</dl>
