<figure class="audio">
    <figcaption>
      <p>
        {{ .Get "legend" }} /
        <a href="{{ .Get "src" }}.opus" class="smallcaps">opus</a> /
        <a href="{{ .Get "src" }}.ogg" class="smallcaps">ogg</a> /
        <a href="{{ .Get "src" }}.mp3" class="smallcaps">mp3</a>
      </p>
    </figcaption>
    <audio controls preload="metadata">
        <source src="{{ .Get "src" }}.opus" type="audio/opus" codecs="opus">
        <source src="{{ .Get "src" }}.ogg" type="audio/ogg" codecs="vorbis">
        <source src="{{ .Get "src" }}.mp3" type="audio/mpeg">
    </audio>
</figure>
