<figure class="stream">
    <figcaption><p>{{ .Get "legend" }}</p></figcaption>
    <audio controls>
        <source src="https://id-libre.org/live/stream.ogg" type="audio/ogg">
        <source src="https://id-libre.org/live/stream.mp3" type="audio/mpeg">
        Your browser does not support the audio tag, you can access the stream
        directly with <a href="https://id-libre.org/live/stream.mp3">this link</a>
    </audio>
</figure>
